:host {
  .container {
    height: 100%;
    display: flex;

    .form {
      width: 30%;
      padding: 30px;
      min-width: 200px;
      max-width: 450px;
      background-color: white;
      overflow-y: auto;

      form {
        display: flex;
        flex-direction: column;

        mat-radio-group {
          display: flex;
          justify-content: space-evenly;
          padding-top: 16px;
          padding-bottom: 32px;
        }
      }
    }

    .card {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      background-color: #f5f5f5;

      .mirror {
        max-width: 100%;
        max-height: 100%;
      }
    }

    mat-slider {
      padding: 0;
      margin: 10px 0 28px 0;
    }

    @media only screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
      height: auto;

      .form, .card {
        width: auto;
      }
    }
  }
}
