:host {
  .container {
    height: 100%;
    display: flex;

    .form {
      width: 30%;
      padding: 30px;
      min-width: 200px;
      max-width: 450px;
      background-color: white;

      form {
        display: flex;
        flex-direction: column;
      }
    }

    .card {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      background-color: #f5f5f5;

      .mirror {
        max-width: 100%;
        max-height: 100%;
      }
    }


    @media only screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
      height: auto;

      .form, .card {
        width: auto;
      }
    }

  }
}
