/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$grey-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn
      ),
    )
);

@include mat.all-component-themes($my-app-theme);

@font-face {
  font-family: 'BinanceMedium' ;
  src: url('/assets/fonts/BinanceMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'BinanceRegular' ;
  src: url('assets/fonts/BinanceRegular.woff2') format('woff2');
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.img-option {
  height: auto !important;
  padding: 16px !important;

  .mat-option-text {
    line-height: 0;
  }
  img {
    width: 100%;
  }
  .label {
    display: none;
  }
}

mat-radio-group {
  .mat-radio-outer-circle {
    border-color: #f0b90b !important;
  }

  .mat-radio-inner-circle {
    background-color: #f0b90b !important;
  }

  .mat-ripple-element {
    background-color: #f0b90b !important;
  }
}

.mat-slider {
  color: black !important;

  .mat-slider-thumb, .mat-slider-thumb-label, .mat-slider-track-fill {
    background-color: #f0b90b !important;
  }
}

