:host {
  .container {
    padding: 30px;
    display: flex;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
      align-items: center;

      mat-card {
        max-width: 280px;
        cursor: pointer;
        overflow: hidden;
        margin: 0 0 30px;

        img {
          height: 310px;
          width: auto;
        }
      }
    }
  }

  mat-card {
    margin: 0 30px 30px 0;
    max-width: 200px;
    cursor: pointer;
    overflow: hidden;

    img {
      height: 230px;
      width: auto;
    }
  }
}
