<div class="container">
  <mat-card routerLink="/card1">
    <img mat-card-image src="../../../assets/img/totalPnlCard.png">
    <mat-card-title>Card 1</mat-card-title>
  </mat-card>

  <mat-card routerLink="/card2">
    <img mat-card-image src="../../../assets/img/card2Preview.png">
    <mat-card-title>Card 2</mat-card-title>
  </mat-card>

  <mat-card routerLink="/card3">
    <img mat-card-image src="../../../assets/img/card3Preview.png">
    <mat-card-title>Card 2 EN</mat-card-title>
  </mat-card>
</div>
