<div class="container">
  <mat-card routerLink="/card1">
    <img mat-card-image src="../../../assets/img/totalPnlCard.png">
    <mat-card-title>Total PNL</mat-card-title>
  </mat-card>

  <mat-card routerLink="/card5">
    <img mat-card-image src="../../../assets/img/card5Preview.png">
    <mat-card-title>Total PNL EN</mat-card-title>
  </mat-card>

  <mat-card routerLink="/card2">
    <img mat-card-image src="../../../assets/img/card2Preview.png">
    <mat-card-title>Card RU</mat-card-title>
  </mat-card>

  <mat-card routerLink="/card3">
    <img mat-card-image src="../../../assets/img/card3Preview.png">
    <mat-card-title>Card EN</mat-card-title>
  </mat-card>

  <mat-card routerLink="/card4">
    <img mat-card-image src="../../../assets/img/card4Preview.png">
    <mat-card-title>Open Trades</mat-card-title>
  </mat-card>
</div>
